<h1>Hello, phase 3</h1>

<div>I bet you want to make a new one, right?</div>
<%= link_to("make a new ham", new_article_path) %>

<% @articles.each do |article| %>
   <h3><%= link_to article.title, article %></h3>
<% end %>
